<footer class='container'> 
    <div style='padding-top:12px;border-top:1px solid gray;'>
        <a href="http://corp.sina.com.cn/chn/" target="_blank">新浪简介</a> | Copyright © 2014-2016 All Rights Reserved
    </div>
</footer>
<body>
</html>